doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Google Desktop Music Player Overlay
		link(rel="stylesheet", href="/stylesheets/main.css")
		script(src="/javascripts/index.js" async)
	body
		block content
			div.media-player-root